# Question 1 Part 2
- Use ‘vehicle_collisions’ data set
- For each borough, find out distribution of each collision scale. (One carinvolved? Two? Three? or more?) (From 2015 to present)
- Display a few rows of the output use df.head()
- Generate a csv output with five columns ('borough', 'one-vehicle', 'two- vehicles', 'three-vehicles', 'more-vehicles')

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/vehicle_collisions.csv')
cols = ['BOROUGH', 'VEHICLE 1 TYPE', 'VEHICLE 2 TYPE', 'VEHICLE 3 TYPE', 'VEHICLE 4 TYPE']
df = df[cols]
#df.head(3)

In [3]:
df['VEHICLES_COUNT'] = df.count(axis=1) - 1 
#df.head(3)

In [4]:
# select columns needed
cols = ['BOROUGH', 'VEHICLES_COUNT']
df = df[cols]
#df.head(3)

In [5]:
df = df[pd.notnull(df['BOROUGH'])]
#df.head(3)

In [6]:
df = df[df['VEHICLES_COUNT'] != 0]
#df.head(3)

In [7]:
df['VEHICLES_COUNT'] = df['VEHICLES_COUNT'].apply(lambda x : str(x) if x < 4 else 'more than 3')
#df.head(4)

In [8]:
df = df.groupby(['BOROUGH', 'VEHICLES_COUNT'], as_index=False).size().reset_index()
df = df.rename(columns = {0:'COUNT'})
df.head(4)

  BOROUGH VEHICLES_COUNT  COUNT
0   BRONX              1   8627
1   BRONX              2  34385
2   BRONX              3   1962
3   BRONX    more than 3    625

In [9]:
df = df.pivot(index='BOROUGH', columns='VEHICLES_COUNT', values= 'COUNT')
df.columns = ['ONE_VEHICLE_INVOLVED', 'TWO_VEHICLE_INVOLVED', 'THREE_VEHICLE_INVOLVED', 'MORE_VEHICLE_INVOLVED']
df = df.reset_index()
df.head(3)

,BOROUGH,ONE_VEHICLE_INVOLVED,TWO_VEHICLE_INVOLVED,THREE_VEHICLE_INVOLVED,MORE_VEHICLE_INVOLVED
0,BRONX,8627,34385,1962,625
1,BROOKLYN,17375,80207,4980,1612
2,MANHATTAN,13318,66958,2024,501

In [13]:
print(df.head(3))
df.to_csv('Ass3_output/Q1_P2_output.csv',index=False,header=True)

     BOROUGH  ONE_VEHICLE_INVOLVED  TWO_VEHICLE_INVOLVED  \
0      BRONX                  8627                 34385
1   BROOKLYN                 17375                 80207
2  MANHATTAN                 13318                 66958

   THREE_VEHICLE_INVOLVED  MORE_VEHICLE_INVOLVED
0                    1962                    625
1                    4980                   1612
2                    2024                    501