# Question 2 Part 1
- Use 'employee_compensation' data set
- Find out the highest paid departments in each organization group by calculating mean of total compensation for every department
- Output should contain the organization group and the departments in each organization group with the total compensation from highest to lowest value
- Display a few rows of the output use df.head()
- Generate a csv output

In [1]:
import pandas as pd

In [2]:
# select needed columns 
df = pd.read_csv('Data/employee_compensation.csv')
cols = ['Organization Group', 'Department', 'Total Compensation']
df = df[cols]
df.head(3)

,Organization Group,Department,Total Compensation
0,"Public Works, Transportation & Commerce",Airport Commission,143916.66
1,Community Health,Public Health,107914.16
2,Human Welfare & Neighborhood Development,Department of the Status of Women,267.28
3,General Administration & Finance,Human Resources,2519.13

In [3]:
# calculate mean of total compensation for every department
output = df.groupby(['Organization Group','Department'],as_index=False).mean()
output.head(3)

     Organization Group           Department  Total Compensation
0      Community Health        Public Health        96190.190140
1  Culture & Recreation  Academy of Sciences       107319.727692
2  Culture & Recreation      Arts Commission        94339.597388
3  Culture & Recreation     Asian Art Museum        71401.520060

In [4]:
# sort the department of each organization by average total compensation
output = output.sort_values(['Organization Group','Total Compensation'], ascending = False)
output.head(3)

,Organization Group,Department,Total Compensation
55,"Public Works, Transportation & Commerce",Port,112139.680017
46,"Public Works, Transportation & Commerce",Department of Building Inspection,112051.615182
54,"Public Works, Transportation & Commerce",PUC Water Department,109806.587567
53,"Public Works, Transportation & Commerce",PUC Wastewater Enterprise,108963.589786

In [5]:
print(output.head(3))
output.to_csv('Ass3_output/Q2_P1_output.csv',index=False,header=True)